NEXT_PUBLIC_GRAPH_API_URL=https://api.myikas.com/api/v1/admin/graphql
NEXT_PUBLIC_ADMIN_URL=https://admin.myikas.com
NEXT_PUBLIC_CLIENT_ID=your_client_id_here
NEXT_PUBLIC_DEPLOY_URL=http://localhost:3001
CLIENT_SECRET=your_client_secret_here
SECRET_COOKIE_PASSWORD=at-least-32-chars-random-string-here
DATABASE_URL=file:./dev.db
